.title
{
    font-family: 'Amatic SC', cursive; 
    font-size: 6.3em;
    color:	#191970;
  
}


.row-center {
     
    align-items: center;
    text-align: center;
    padding: 1px;
    margin: auto;

  }

.text {
     
  font-family: 'Changa', sans-serif;
  font-size: 1.5em;


}



 